
//  Fonts::

$--font-head: 'Urbanist', sans-serif;
$--font-body: 'Montserrat', sans-serif;
$--font-logo: 'Noto Serif', serif;


// Colors:: 

$--color-brand-red: #E64B2F;
$--color-brand-red-op: rgba(230, 75, 47, 0.51);
$--color-black: #111;

$--color-secondary-brown:#463F3C;
$--color-secondary-dark: #284D57;
$--color-secondary-light: #EEECE3;
$--color-secondary-milk: #FFF8F2;
$--color-secondary-white: #fff;
$--color-secondary-btn: #FBFBF6;



$--color-greyscale-grey-50:#F9FAFB;
$--color-greyscale-grey-100:#F4F4F6;
$--color-greyscale-grey-200:#E5E6EB;
$--color-greyscale-grey-300:#D3D5DA;
$--color-greyscale-grey-400:#9EA3AE;
$--color-greyscale-grey-500:#6C727F;
$--color-greyscale-grey-600:#4D5461;
$--color-greyscale-grey-700:#394150;
$--color-greyscale-grey-800:#212936;
$--color-greyscale-grey-900:#0B0A0F;

$--color--paragraph-light: #A29E9D;
$--color-paragraph: #5B5653;
$--color-border-grey:#A29B97;
$--color-border-red:#FAD8CD;



